<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NoteBook.Properties.Settings.PhoneDBConnectionString"
            connectionString="Data Source=|DataDirectory|\PhoneDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="NoteBook.Properties.Settings.DBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>